// Override default variables before the import
//$body-bg: rgba(26,171,59, 0.7);
$primary: rgb(29, 151, 152);
$secondary: rgb(253, 186, 43);
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.border-v-gradient {
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, $primary, $secondary) 1 100%;
}
.border-g-gradient {
  padding-bottom: 5px;
  background: /* gradient can be an image */ linear-gradient(
      to right,
      $primary,
      $secondary,
      $primary
    )
    left bottom white no-repeat;
  background-size: 100% 5px;
}
.btn:disabled {
  cursor: not-allowed;
}
.custom-input {
  font: 5ch consolas, monospace;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
  letter-spacing: 0.5ch;
  box-shadow: none !important;
  &__underline {
    &--separated {
      border-bottom: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: .5rem;
      background: repeating-linear-gradient(
          90deg,
          dimgrey 0,
          dimgrey 1ch,
          transparent 0,
          transparent 1.5ch
        )
        0 100%/100% 2px no-repeat;
        &:focus{
          background: repeating-linear-gradient(
          90deg,
          #56dedf 0,
          #56dedf 1ch,
          transparent 0,
          transparent 1.5ch
        )
        0 100%/100% 2px no-repeat;
        }
    }
  }
}
.darker-light{
  background-color: darken($light, 10%) !important;
}
.min-vh-100{
  min-height: 100vh;
}